.o-accordion-list {
  @include grid-container;
  margin-bottom: $spacing-40;

  @media (min-width: $breakpoint-10) {
    margin-bottom: $spacing-40;
  }

  // .o-accordion:last-of-type {
  //   margin-bottom: $spacing-20;

  //   @media (min-width: $breakpoint-10) {
  //     margin-bottom: $spacing-20;
  //   }

  //   @media (min-width: $breakpoint-30) {
  //     margin-bottom: $spacing-40;
  //   }
  // }

  &__item {
    display: block;
    margin-bottom: 0;

    &:first-child .o-accordion {
      border-top: 1px solid $color-neutral-30;

      &:hover {
        border-top-color: $color-neutral-50;
      }
    }
  }
}

.o-accordion-list__title {
  margin-bottom: 0.375rem;

  @media (min-width: $breakpoint-10) {
    margin-bottom: $spacing-40;
  }
}
