body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div {
    padding-top: 0;
}
.o-list.l-three-fourth {
    font-size: 14px; ///????
}
body > div.l-wrapper.l-wrapper--neutral > div > div.l-two-third > div:nth-child(2) > div.o-panel__body > ul > li:nth-child(1) {
    font-size: 14px;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.o-accordion.o-accordion--light.js-accordion.is-open > div > div > a:nth-child(2) {
    float: right;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div:nth-child(2) > div > form:nth-child(3) > div:nth-child(3) {
    display: inline-block;
    float: left;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div:nth-child(2) > div > form:nth-child(3) > div:nth-child(4) {
    display: inline-block;
    float: right;
    background: #fff;
    border: 1px solid #d6d6d6;
    color: #3f4542;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.o-accordion.o-accordion--light.js-accordion.is-open > div > form > div > button > svg {
    color: #3f4542;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div:nth-child(2) > div > form:nth-child(2) > div > div {
    width: 90%;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-full.o-page-tabs-wrapper {
    background: none;
}

body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.samenplaatsing > table > tbody > tr:nth-child(1) > td {
    border-top: none;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.samenplaatsing > table > tbody > tr > td:nth-child(1) {
    padding-left: .75rem;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.samenplaatsing > table > tbody > tr > td:nth-child(2) > a > img {
    height: 16px;
    margin-left: 20px;
    line-height: 24px;
    margin-bottom: -3px;
}
body > div.l-wrapper.l-wrapper--neutral > div > div.l-two-third > div:nth-child(1) > section > ul {
    font-size: 14px;
}

@media (min-width: $breakpoint-20) {
    body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-full > div > div > ul {
        border-bottom: 1px solid #d6d6d6;
    }
}
@media (max-width: $breakpoint-20) {
    .l-container.l-container--no-spacing {
        padding: 0;
    }
    .l-wrapper--spacing {
        padding-top: 0;
    }
    .o-page-tabs__item:last-child {
        border-right: none;
    }
    body > div.l-wrapper.l-wrapper--white {
        border-bottom: none;
    }
    body > footer > div > div > div > ul.c-footer__grid > li:nth-child(2) {
        display: none;
    }
    body > footer > div > div > div > ul.c-footer__grid > li:nth-child(3) {
        display: none;
    }
    .o-page-tabs-wrapper {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50px;
            height: 47px;
            z-index: $z-index-20;
            // background: linear-gradient(90deg, $white 0%, rgba($white, 0.2) 100%);
            background: url(#{$img-path}icons/tabs-left.svg) no-repeat center, linear-gradient(90deg, $white 0%, rgba($white, 0.2) 100%);
            display: inline-block;
            pointer-events: none;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 1px;
            width: 50px;
            height: 47px;
            z-index: $z-index-20;
            background: url(#{$img-path}icons/tabs-right.svg) no-repeat center, linear-gradient(90deg, rgba($white, 0.5) 0%, $white 100%);
            display: inline-block;
            pointer-events: none;
        }
    }
    .hamburger-nav-wrap {
        &>ul {
            width: 100%;
            height: auto;
            display: block;
            overflow: visible;
            padding-top: 46px;
            position: relative;
            &>li {
                display: block;
                width: 100%;
                display: none;
                &.o-page-tabs__item--active {
                    position: absolute;
                    top: 0;
                    display: block!important;
                    &>a {
                        background: url(#{$img-path}icons/menu.svg) no-repeat center right 16px, #3f4542;
                        background-size: 16px;
                        color: #ffffff;
                        text-align: left;
                        border-left: none;
                    }
                }
            }
        }
        &>ul.open {
            &>li {
                display: block;
            }
        }
    }
}

.wijzigdenawvandezetravellerformopener {
    border: 0px !important;
}

select.picker__select--year {
    margin-left: 50px;
    line-height: 1;
}
.clearboth {
    clear: both;
}
.o-button--alert.blijflinks {
    float: left;
}
.o-companionlist {
    margin: 0;
    list-style: none;
}
.o-companionlist__item {
    border-top: 1px solid #d6d6d6;
    padding: 0.5rem 1rem;
}
.o-companionlist__item p {
    float: left;
    position: relative;
    top: 6px;
}
.o-companionlist__item p.rechtsuitlijnen {
    float: right;
    position: relative;
    top: 6px;
}
.o-companionlist__item form,
.o-companionlist__button {
    float: right;
}
.o-button-wrapper .o-button--neutral {
    float: left;
}
body > div.l-wrapper.l-wrapper--neutral.l-wrapper--spacing > div > div.l-two-third > div.o-panel.samenplaatsing > table > tbody > tr > td:nth-child(1) {
    padding-left: 1rem;
}
.zetlinks {
    float: left !important;
}

@media (max-width: 600px) {
    .hamburger-nav-wrap > ul > li.o-page-tabs__item--active > a {
        pointer-events: none!important;
    }
    .c-footer__icon-box.mobileFix {
        display: none;
    }
}

tbody td:first-child {
    padding-left: 1.0rem!important;
}
.o-panel table.u-no-spacing tr td:nth-child(3) {
    text-align: right;
    padding-right: 1.0rem!important;
}