/*------------------------------------*\
  #OBJECTS-ICONS
\*------------------------------------*/

.o-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: no-repeat center;
  background-size: 100%;

  svg {
    height: 16px;
    width: 16px;
  }
}

.o-icon--inline {
  position: relative;
  top: 2px;
  margin: 0 0.25rem 0 0;
}

.o-icon--medium {
  height: 24px;
  width: 24px;

  svg {
    height: 24px;
    width: 24px;
  }
}
